@import '../utilities/extends';
@import '../utilities/mixins';
@import '../utilities/variables';

/* BESTSELLER */
.bestseller {
  @extend %default-transition;
  @include colors($mako, $athens-gray);
  @include dimensions(auto, 5.1rem);
  @include flex-direction(row, 0);
  @include flex-alignment(space-between, center);

  button {
    @include colors(transparent, $athens-gray);
    @include dimensions($xx-large, $xx-large);
    margin-right: $small;

    span {
      @extend %default-transition;
      @include colors(transparent, $cadet-blue);
      @include font($xx-large, 300);

      &:hover {
        @include colors(transparent, $athens-gray);
      }
    }
  }

  &__price {
    margin-right: $small;
  }

  &:hover {
    @include colors($trout, $athens-gray);
  }

  &__game {
    @include flex-direction(row, 0);

    p {
      @extend %grid-center;
      @include dimensions(2.5rem, auto);
    }

    div {
      @include dimensions($x-small, auto);
    }

    .bestseller__switch {
      @include colors($guardsman-red, $athens-gray);
    }

    .bestseller__playstation {
      @include colors($cornflower-blue, $athens-gray);
    }

    .bestseller__xbox {
      @include colors($fruit-salad, $athens-gray);
    }

    .bestseller__pc {
      @include colors($yellow-orange, $athens-gray);
    }
  }

  &__name {
    @include colors(none, $athens-gray);
    @include flex-direction(column, 0);
    @include flex-alignment(center, center);
    @include font($regular, 400);
    line-height: 1;

    span {
      display: block;
    }
  }

  button {
    span {
      font-size: $xx-large;
    }
  }
}
