@import "../utilities/extends";
@import "../utilities/mixins";
@import "../utilities/variables";

/* NEW */
.new {
  @extend %default-transition;
  @include flex-direction(column, $small);
  position: relative;
  border-radius: $small;

  &:hover {
    @include shadow-inset($xx-small, $yellow-orange);
  }

  &__img {
    @extend %default-transition;
    border-radius: $small;
    opacity: 0.5;
  }

  &__text {
    @include flex-direction(column, 0);
    position: absolute;
    left: 0;
    bottom: 0;
    padding: $small;

    .new__date {
      color: $athens-gray;
    }

    .new__title {
      @include colors(none, $yellow-orange);
      text-shadow: 0.1rem 0.1rem black;
    }
  }
}
