@import "../utilities/extends";
@import "../utilities/mixins";
@import "../utilities/variables";

/* FOOTER */
footer {
  @extend %grid-center;
  gap: $small;
  margin: $xxx-large 0 $x-large 0;
  text-align: center;

  p {
    span {
      display: block;
      color: $cadet-blue;
    }
  }
}
