@import "../utilities/extends";
@import "../utilities/mixins";
@import "../utilities/variables";

/* HEADER */
.header {
  @extend %grid-center;
  @include dimensions(100vw, 6rem);
  @include colors($shark, none);
  max-width: 100%;
  position: sticky;
  z-index: 10;
  top: 0;

  &__container {
    @include dimensions(120rem, 6rem);
    @include flex-direction(row, 0);
    @include flex-alignment(space-between, center);

    .header--left {
      @include flex-direction(row, 0);
      @include flex-alignment(space-between, center);

      .header__logo {
        @extend %grid-center;
      }
    }

    .header--right {
      @include flex-direction(row, 0);
      @include flex-alignment(center, center);
    }
  }

  @media (max-width: 78.5rem) {
    &__container {
      @include dimensions(100%, auto);
      padding: 0 $x-large;
    }
  }
}

/* HEADER: LOGO */
.header__logo img {
  @extend %default-transition;
  @include dimensions(auto, 1.6rem);
  cursor: pointer;
}

/* HEADER: SEARCH */
.header__search {
  @extend %default-transition;
  @include colors($baltic-sea, $cadet-blue);
  @include flex-direction(row, $x-small);
  @include flex-alignment(center, center);
  padding: $x-small $small;
  border-radius: 2.4rem;

  span {
    @include font($xx-large, 300);
    cursor: pointer;
  }

  &--input {
    @include colors(transparent, $athens-gray);
    @include dimensions(24rem, auto);
    @include font($regular, 400);
    font-family: "Roboto", sans-serif;
    outline: none;
    border: none;
  }
}

@media (max-width: 41.25rem) {
  .header__search {
    display: none;
  }
}

.header__search:hover {
  @include colors(none, $athens-gray);
}

/* NAV */
.nav {
  @include flex-direction(row, $small);
  @include flex-alignment(center, center);
  @include font(2.4rem, 300);

  &__a {
    @extend %grid-center;
    @extend %default-transition;
    @include colors(none, $cadet-blue);
    cursor: pointer;
    position: relative;

    span {
      @include font($xx-large, 300);
    }

    p {
      @extend %grid-center;
      @include colors($guardsman-red, $athens-gray);
      @include dimensions($x-large, $x-large);
      @include font(1.2rem, 300);
      border-radius: 50%;
      position: absolute;
      top: -$x-small;
      right: -$small;
    }
  }

  &__a:hover {
    @include colors(none, $athens-gray);
  }
}
