@import '../utilities/extends';
@import '../utilities/mixins';
@import '../utilities/variables';

/* STORE */
.store {
  @include dimensions(120rem, auto);
  @include flex-direction(column, 0.8rem);
  @include flex-alignment(center, start);
  margin-bottom: $x-large;

  // NEWS: TITLE
  &__title {
    @include flex-direction(row, $small);
    @include flex-alignment(center, center);
    @include font($medium, 400);
    align-self: flex-start;

    span {
      @include colors(none, $fruit-salad);
      @include font($xx-large, 300);
    }
  }

  &__showcase {
    @include dimensions(100%, auto);
    @include flex-direction(column, $small);

    &--menu {
      @include flex-direction(row, $x-small);
      @include flex-alignment(flex-end, center);

      span {
        @extend %default-transition;
        @include colors(none, $cadet-blue);
        @include font($xx-large, 300);
        cursor: pointer;

        &:hover {
          @include colors(none, $athens-gray);
        }
      }
    }

    &--cards {
      @include dimensions(100%, auto);
      @include grid-template(18rem, $small);

      .card {
        width: 100%;

        img {
          width: 100%;
        }
      }
    }

    @media (max-width: 42.5rem) {
      &--cards {
        grid-template-columns: repeat(auto-fill, minmax(15.5rem, 1fr));
      }
    }
  }
}

@media (max-width: 78.5rem) {
  .store {
    @include dimensions(100%, auto);
    padding: 0 $x-large;
  }
}
