@import "../utilities/extends";
@import "../utilities/mixins";
@import "../utilities/variables";

/* STORE */
.store {
  @include dimensions(120rem, auto);
  @include flex-direction(column, 0.8rem);
  @include flex-alignment(center, start);
  margin-top: $xxx-large;
  scroll-margin-top: 9rem;
  display: none;

  // STORE: TITLE
  &__title {
    @include flex-direction(row, $small);
    @include flex-alignment(flex-start, center);
    @include font($medium, 400);
    align-self: flex-start;
    margin-bottom: 0.8rem;

    span {
      @include colors(none, $fruit-salad);
      @include font($xx-large, 300);
    }
  }

  // STORE: SHOWCASE
  &__showcase {
    @include dimensions(100%, auto);
    @include flex-direction(column, $small);

    .store__menu {
      @include flex-direction(row, $x-small);
      @include flex-alignment(flex-end, center);

      span {
        @extend %default-transition;
        @include colors(none, $cadet-blue);
        @include font($xx-large, 300);
        cursor: pointer;

        &:hover {
          @include colors(none, $athens-gray);
        }
      }
    }

    .store__cards {
      @include dimensions(100%, auto);
      @include grid-template(18rem, $small);
      margin-bottom: 0;

      .card {
        width: 100%;

        img {
          width: 100%;
        }
      }
    }

    @media (max-width: 620px) {
      .store__cards {
        grid-template-columns: repeat(auto-fill, minmax(13.5rem, 1fr));
      }
    }
  }
}

@media (max-width: 78.5rem) {
  .store {
    @include dimensions(100%, auto);
  }
}
