// COLORS:
$guardsman-red: #d52228;
$amethyst: #865bce;
$cornflower-blue: #618bf8;
$cornflower-blue-hover: #81a2f9;
$fruit-salad: #4fa868;
$yellow-orange: #ffc247;
$woodsmoke: #121416;
$baltic-sea: #242328;
$shark: #2b2e34;
$mako: #42464e;
$trout: #535862;
$topaz: #77738b;
$cadet-blue: #a9b2bf;
$athens-gray: #eff0f2;

// SIZES
$xxx-small: 0.1rem;
$xx-small: 0.2rem;
$x-small: 0.5rem;
$small: 1rem;
$regular: 1.4rem;
$medium: 1.6rem;
$large: 1.8rem;
$x-large: 2rem;
$xx-large: 2.2rem;
$xxx-large: 4rem;
$xxxx-large: 8rem;
